/* signup.css */

/*****************************************/
/* 				FONT IMPORTS			 */
/*****************************************/
@font-face{
    font-family: "HanziPen TC";
    src: url('../fonts/HanziPen.ttc'),
    url('Thonburi-Bold.eot'); 
}

@font-face{
    font-family: "Avenir Next";
    src: url('../fonts/Avenir Next.ttc'),
    url('Thonburi-Bold.eot'); 
}

/*****************************************/
/* 				ELEMENT STYLES		 	 */
/*****************************************/
* {
	font-family: "Heiti SC", "LiHei Pro", "Microsoft JhengHei", "HanziPen TC";	/* default Chinese fonts */
}

body {
	background-image: url('../images/cat-wallpaper-2.jpg');
	background-color: #f6f0e0;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
	margin: 0px; /* this gets rid of whitespace at the top and bottom*/
}

table {
	margin: 30px 20px 20px 20px;
	font-size: 14px;
}

td {
	padding: 5px;
}

input {
	width: 300px;
	height: 30px;
	padding: 2px 7px;
	margin: 5px auto;
	font-size: 14px;
	font-family: "Avenir Next", "Gill Sans", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
}

/*****************************************/
/* 		ELEMENT CLASS AND ID STYLES		 */
/*****************************************/

div#wrapper {
	width: 820px;
	padding: 10px;
	margin: auto;
	background-color: white;
	opacity: 0.8;
	height: 100%;
}

div#header {
	width: 750px;
	height: 160px;
	padding: 10px;
	margin: 10px auto;
	text-align: center;

}

img#logo {
	width: 100px;
}

span#join-us {
	margin: 20px;
	margin-bottom: 30px;
	padding-left: 5px;
	font-size: 30px;
	font-weight: bold;
}

hr.join-us-separator {
	margin-top: 30px;
	width: 730px;
	border-top: 1px solid #d6d4c9;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

div#main-content {
	width: 770px;
	padding: 10px 0px;
	margin: 10px auto;
}

td.form-attribute {
	width: 200px;
}

td.form-validation {
	width: 380px;
	padding-left: 20px;
}

td.form-field {
	width: 380px;
}

td.submit {
	text-align: center;
}

td#validation {
	padding-left: 10px;

}

iframe#terms {
	width: 300px;
	height: 200px;
	margin: 20px auto;
	border: 1px solid #cbcbcb;
	padding: 3px;
	border-radius: 5px;
}

input#agree {
	width: auto;
}

button#submit {
	width: 100px;
	font-size: 14px;
	padding: 10px;
	border: 2px solid #b0b0b0;
	color: gray;
	background-color: #f6f0e0;
	outline: none;
}

button#submit:active{
	background-color: #E1F6E0;
	border: 2px solid #608b32;
	color: #608b32;
}